<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Dashboard</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/courses.css}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins&family=Red+Hat+Display:wght@500;700;900&family=Sofia&family=Tangerine:wght@700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/courses.css}" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.10.2/css/all.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&family=Red+Hat+Display:wght@500;700;900&family=Sofia&family=Tangerine:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <style>
      #navbarSupportedContent {
        margin-left: 16em;
      }
    </style>
  </head>

  <body>
    <!-- boot navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light m-0">
      <div class="container-fluid">
        <a class="navbar-brand" href="/product_list">
          <img
            th:src="@{/images/undraw_handcrafts_planet.svg}"
            alt=""
            width="70"
            height="50"
            class="d-inline-block align-text-top"
          />
                Daily Shipping
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    
                    <li class="nav-item">
                        <a class="nav-link text-dark fw-bold" aria-current="page"
                            th:href="@{/product_list}">[[#{nav.home}]]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark fw-bold" aria-current="page"
                            th:href="@{/users_list}">[[#{nav.users}]]</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link text-dark fw-bold" aria-current="page"
                            th:href="@{/shipping_list}">[[#{nav.shippingproviders}]]</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link text-dark fw-bold" aria-current="page"
                            th:href="@{/allorders}">[[#{nav.orders}]]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark fw-bold" aria-current="page"
                            th:href="@{/profileAdmin}">[[#{nav.profile}]]</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-dark fw-bold" aria-current="page" href="/logout">[[#{nav.logout}]]</a>
                    </li>
                    <li class="mt-2 "><span class=""><span> </span>
                            <select id="locales">
                                <option value=""></option>
                                <option value="en"> [[#{lang.eng}]]</option>
                                <option value="de">[[#{lang.de}]]</option>
                            </select></li>
    
                </ul>
            </div>
        </div>
    </nav>
<body>

    <div class="container text-center shadow-lg">
        <table class="table mt-3">
            <thead class="bg-primary text-white">
                <tr>
                    <th>Ordered By</th>
                    <th>Name</th>
                    <th>Ordered Date</th>
                    <th>Shipping Provider Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order: ${order}">
                    <div> 
                        <div th:if ="${order.user != null}">
                        <th><img th:src="${order.user.fileName}" width="50" height="50" /></th>
                        <th th:text="${order.user.firstname} +' '+ ${order.user.lastname}"></th>
                        <th th:text="${order.createdDate}"></th>
                        <th th:text="${order.shippingprovider.name}"></th>
                        <th th:text="${order.price}"></th>
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
    <br><br><br>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>


    <footer class="bg-dark text-center text-white">
        <div class="container p-4 pb-0">
            <section class="mb-4">
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button"
                    aria-label="first link"><i class="fab fa-facebook-f"></i></a>

                <a class="btn btn-outline-light btn-floating m-1" href="twitter" role="button"
                    aria-label="second link"><i class="fab fa-twitter"></i></a>

                <a class="btn btn-outline-light btn-floating m-1" href="/instagram" role="button"
                    aria-label="third link"><i class="fab fa-instagram"></i></a>

                <a class="btn btn-outline-light btn-floating m-1" href="/linked in" role="button"
                    aria-label="fourth link"><i class="fab fa-linkedin-in"></i></a>

                <a class="btn btn-outline-light btn-floating m-1" href="github" role="button" aria-label="fifth link"><i
                        class="fab fa-github"></i></a>
            </section>
        </div>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2022 Copyright:
            <a class="text-white" href="#">DailyShipping.com</a>
        </div>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
    </footer>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != '') {
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>
</html>